<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
    <label>Name: </label><br>
    <input type="text" name="landmark[name]" id="landmark_name"><br>
    <label>Year Completed: </label><br>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
    <br>
    <input type="submit" value="Create New Landmark">
</form>

<br><br>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
